html,
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: rgb(255, 255, 255);
}

/* Navigation bar  */
nav {
    background-color: #b5639a;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

nav a:hover {
    color: #ff77a9;
}

/* Header section styles */

.main-logo {
    position: center;
    max-width: 20%;
    height: auto;
}

header {
    text-align: center;
    padding: 10 px 0;
    background-color: #ffffff;
    margin-bottom: 10px;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #555;
}

header p {
    font-size: 18px;
    color: rgb(230, 182, 27);
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #630c4c;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 20px;
}

main {
    background-color: rgb(223, 183, 207);
    margin-bottom: 10px;


}


/* Featured cake section */
.featured-cake {
    text-align: center;
    margin-bottom: 20px;
}

.featured-cake h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #555;
}

.featured-cake .cake-image {
    margin: 20px auto;
}

.featured-cake img {
    max-width: 40%;
    height: auto;
}

.cake-description {
    font-size: 16px;
    color: #777;
    margin-bottom: 10px;
}


/* Testimonial styles */
.testimonials {
    text-align: center;
}

.testimonial-card {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid rgb(101, 77, 158);
    border-radius: 5px;


}

.testimonial-text {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

.testimonial-author {
    font-size: 14px;
    color: #777;

}

/* Footer styles */
footer {
    text-align: center;
    padding: 20px;
    background-color: rgb(249, 249, 249);
    color: #555;
}

/* products photos */

#photos {
    clear: both;
    line-height: 0;
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
}

#photos img {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
    box-sizing: border-box;
    border: solid;
}



/* contact form */
.contact-form {
    text-align: center;
    padding: 40px;
}

.contact-form form {
    max-width: 400px;
    margin: 0 auto;
}

.contact-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    resize: vertical;
}